@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";
@import "./mixins.scss";

/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;

    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }

    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@include gridify(2, 300);
@include gridify(4, 600);

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

.pace .pace-progress {
    background: #2299dd;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    transition: all 1s ease;
}

/**
 * GENERAL
 */

.centerit{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}


img {max-width:100%;}

body {
    transition: opacity .25s ease;
    ul{
        transition:all 1s;
        position: absolute;
        margin-top:20% 
    }
    audio{
        // position: absolute;
        // left:0px;
        width:100%;
        // top:20%
    }
    input[type=text]{
        transition:all 1s;
        font-size:30px;
        border-radius: 50px;
        padding:10px;
        border:3px solid black;
        text-decoration: none;
        outline-width: 0;
        max-width: 100%;
        &:focus{
            border:3px solid #22a
        }
        &.top{
            top: 5%;
            transform: translateX(-50%);
        }

    }
    .hidden{
        display:none
    }
    ul{
        // float:left;
        width:20%;
        font-size:15px;
        border:1px solid black;
        border-radius: 5px;
    }
    li{
        cursor:pointer;
        margin-right:10px
    }
    img{
        width:100px;
        height:100px;
        float:right;
        &::after{clear:both}
    }
    h3{
        float:left
        // &::after{clear:both}
    }
    .trackTitle{
        font-size: 12px
    }

    span{
        border:1px solid black;
        border-radius: 5px;
        padding:3px;
        margin-right: 5px
    }
    .player{
        // float:left;
        position: absolute;
        // display:inline-block;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 20px;
        width: 70%;
        overflow:hidden;
        padding:20px;
        border:1px solid black;
        cursor:default
    }
}











